{% extends  'layout.html' %}
{% block body %}
    <!--内容-->
    <div class="content-body">
        <div class="container">
            <div class="row">
                <!--左边-->
                <main class="col-md-8">
                    {% for item in result_list %}
                        <article class="post post-1">
                            <header class="entry-header">
                                爬取于<a style="color: red" href="{{ item['url'] }}">简书</a>
                                <h1 class="entry-title">
                                    <a href="{{ url_for('.detail',uuid=item['uuid']) }}">{{ item['title'] }}</a>
                                </h1>
                                <div class="entry-meta">
                                    <span class="post-category"><a href="#"></a></span>
                                    <span class="post-date"><a href="#"><time class="entry-date"
                                                                              datetime="">{{ item['create_time'] }}</time></a></span>
                                </div>
                            </header>
                            <div class="entry-content clearfix">
                                <p>{{ item['description'] }}</p>
                                <div class="read-more cl-effect-14">
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                    {#                    <!-- 简单分页效果#}

                    {% import 'page.html' as pagehtml %}
                    {{ pagehtml.render_name(page) }}
                    {#                    --> #}
                </main>
                <!--右边-->
                <aside class="col-md-4">
                    <div class="widget widget-recent-posts">
                        <h3 class="widget-title">最新文章</h3>
                        <ul>
                            {% for article in  last_article %}
                                <li>
                                    <a href="{{ url_for('.detail',uuid=article['uuid']) }}">{{ article['title'] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
{#                    <div class="widget widget-archives">#}
{#                        <h3 class="widget-title">归档</h3>#}
{#                        <ul>#}
{#                            <li>#}
{#                                <a href="#">2017 年 5 月</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">2017 年 4 月</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">2017 年 3 月</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                    <div class="widget widget-category">#}
{#                        <h3 class="widget-title">分类</h3>#}
{#                        <ul>#}
{#                            <li>#}
{#                                <a href="#">Django 博客教程 <span class="post-count">(13)</span></a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">Python 教程 <span class="post-count">(11)</span></a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">Django 用户认证 <span class="post-count">(8)</span></a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
                    <div class="widget widget-tag-cloud">
                        <h3 class="widget-title">标签云</h3>
                        <ul>
                            {% for type in type_list %}
                            <li>
                                <a href="#">{{ type['type'] }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="rss">
                        <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                    </div>
                </aside>
            </div>
        </div>
    </div>

{% endblock %}